<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="The_Gaming_Library.Properties.Settings.feathers_ptagConnectionString"
            connectionString="server=192.185.150.102;user id=feathers_ptag;password=P3@c0ck$;database=feathers_ptag"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>