<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectCsharpToMysql.Properties.Settings.connectcsharptomysqlConnectionString"
            connectionString="server=localhost;user id=root;password=spinner;persistsecurityinfo=True;database=connectcsharptomysql"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>